@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?dxwxir')
  src:  url('../fonts/icomoon.eot?dxwxir#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dxwxir') format('truetype'),
    url('../fonts/icomoon.woff?dxwxir') format('woff'),
    url('../fonts/icomoon.svg?dxwxir#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-check_circle:before
  content: "\e900"

.icon-close:before
  content: "\e901"

.icon-favorite:before
  content: "\e902"

.icon-keyboard_arrow_right:before
  content: "\e903"

.icon-remove_circle_outline:before
  content: "\e904"

.icon-shopping_cart:before
  content: "\e905"

.icon-thumb_down:before
  content: "\e906"

.icon-thumb_up:before
  content: "\e907"

.icon-plus:before
  content: "\ea0a"

.icon-minus:before
  content: "\ea0b"

